
/* 메인 배너용 */
#main_banner {
    max-width: 1280px;
    max-height: 300px;
    margin: 14px auto;
    display: flex;
    flex-direction: row;
    /* 임시로 */
    overflow: hidden;  
}

.banner_input {
    flex: 1;
    height: 300px;    
}

/* main 영역 세부 구현 */

.site-map-text {
    margin: 10px;
    padding-left: 20px;
}
