
/* 배너용 */
#main_banner {
    max-width: 1280px;
    max-height: 300px;
    margin: 0 auto;
    display: flex;
    /* 임시로 */
    overflow: hidden;  
}

.banner_input {
    max-width: 50%;
    margin: 5px;
}

#site-card-box {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding: 0;
}

#site-card-box>li {
    border: 2px solid yellow;
}