/* 전체 사이트에 적용할 기본 옵션, 전체 크기나, 등등... */

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
  

.basic_box {
    max-width: 1280px;
    margin: 0 auto;
}