table {
  border-spacing: 0;
  width: 100%;  
}
th,
td {
  padding: 10px 12px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: center;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
  text-align: center;
  font-size: 1.1rem;
  width: 15%;
}

td>img{
  height: 200px;    
}

td > input {
  width: 60%;
  min-width: 30%;
  padding: 6px;
  font-size: 1rem;  
}

td > textarea {
  width: 90%;
  min-width: 50%;
  height: 200px;
  padding: 6px;
  font-size: 1rem;
  
  /* border: none; */
  resize: none;
  
}

tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

#category-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.site-detail-category-list{
  margin: 2px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 1rem;
}