#site-card-box {
    display: block;
    /* display: flex;
    flex-direction: column; */
}

.site-card {
    border: 4px solid black;
    height: 150px;    
    margin-top: 6px;
}

.site-card:hover {
    box-shadow: 0px 0px 6px 1px gray;
}

.site-card-list {    
    height: 100%;
    display: flex;
    justify-content: left;
}

.site-card-list > li:first-child {
    /* padding: 6px; */
    flex: 1;    
    text-align: center;
}

.site-card-list > li {
    padding: 6px;
    flex: 5;
    overflow: hidden;
    color: black;    
}

.site_card_img {
    height: 90%;
    max-width: 90%;
}

.info-top{
    height: 50%;
    font-weight: bold;
}

.info-bottom{
    height: 50%;
    
}