/* 전체 사이트에 적용할 기본 옵션, 전체 크기나, 등등... */


* {
    box-sizing: border-box; /* 테두리를 너비에 포함 */
    /* background-color: #001011;
    color: white; */
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
    margin: 0;    
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    /* li의 깔끔한 정렬을 위해 기본마진, 패딩 제거 */
    list-style: none;
    margin: 0;
    padding: 0;
}


/* 기본 내용들의 최대 너비는 1280px 그 외의 공간은 필요시에 광고추가
그리고 태블릿도 거의 그대로갈수있게하고 모바일만 반응형 디자인 추가 */
.basic_box {
    max-width: 1280px;
    margin: 0 auto;
}

main {
    min-height: 800px;
    max-width: 1280px;
    margin: 0 auto;
}

/* 재사용 클래스 */
.color_bm {
    color: #03cf5d;
}

/* 영역자체를 삭제*/
.cover {
    display: none;
}

/* 안보이게 숨기기 */
.hidden {
    /* visibility: hidden; */
    opacity: 0;
    visibility: hidden;
    /* height: 0; */
}

/* 보이기 */
.show {
    opacity: 1;
    /* visibility: visible; */
    /* background-color: white; */
    /* width: 100%; */
    /* opacity: 0; */
    /* transition: all 1s ease-out; */
}

/* 데이터가 없는 경우 */
.no-data-templet {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
}

.bg-color-1 {
    background-color: #92C7CF;    
}

.bg-color-2 {
    background-color: #AAD7D9;

}

.bg-color-3 {
    background-color: #FBF9F1;

}

.bg-color-4 {
    background-color: #E5E1DA;
}

.bg-color-5 {
    background-color: aliceblue;
}


/* 스피너 디자인 */
.loading-spinner {
    position: absolute;
    left: 50%;
    bottom: 40%;
    width: 60px;
    height: 60px;
    border: 8px solid #3498db;
    border-top: 8px solid transparent;
    border-radius: 50%;
    animation: rotate 2s linear infinite;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}