/* Bordered form */
#main_content01 {
  margin: 10% 26%;  
  border: 1px solid black;
  padding: 2%;
  border-radius: 10px;
  min-width: 360px;
}

/* Add padding to containers */
.container {
  margin: 0 auto;
  padding: 10px;
  width: 80%;  
}

/* Full-width inputs */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.2rem;
}

/* Set a style for all buttons */
#login-btn {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  background-color: darkgray;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: 80%;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  padding: 4% 6%;
  margin: 0 4%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}