/* Bordered form */
#main_content01 {
  margin: 10% auto;
  width: 80%;  
  border: 1px solid black;
  padding: 2%;
  border-radius: 10px;
  min-width: 360px;
}

/* Add padding to containers */
.container {
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  border-radius: 6px;
  
}

/* Full-width inputs */
input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.2rem;
}

/* Set a style for all buttons */
#login-btn {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  background-color: darkgray;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

#extra-box{
  margin: 0 auto;
  width: 78%;
  padding: 2%;
  border-radius: 6px;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: 80%;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  padding: 4% 4%;
  margin: 0 2%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 640px) {
  span.psw {
    display: block;
    float: none;
  }
  #extra-box{
    display: flex;
    flex-direction: column;
  }
}