nav {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    align-items: center;
    background: lightblue;    
}

#category-open {
    max-width: 50px;
    max-height: 40px;
}

nav > input {
    min-width: 50px;
}

nav ul {
    font-size: 18px;
}

nav ul > li {
    display: inline-block;
    margin: 5px;
    min-width: 80px;
    text-align: center;    
}

#nav_list_box li a {
    color: black;
}

nav a:hover {
    color: blue;
    font-weight: bold;
}