nav {
    max-width: 1280px;
    margin: 0 auto;
    z-index: 3;
    /* display: flex;
    padding: 10px;
    align-items: center;
    background: lightblue; */
    /* border-radius: 12px;     */  
    /* transition: all 1s; */
    /* position: fixed;
    top: 80px;
    left: 0;
    right: 0; */
    
}

#navigation{    
    
}

a:hover {
}

/* 검색 박스 */
#nav-search-box{
    /* background-color: rgba(232, 234, 224, 0.363);     */
    background-color: #E5E1DA;
}

#site-search-form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}

#site-search-form>input {    
    margin-right: 10px;
    padding: 10px;
    border-radius: 12px;
    width: 36%;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid lightgray;
}

#site-search-form>button {
    padding: 8px;
    border-radius: 6px; 
    min-width: 6%;       
}

#site-search-form>button>img {
    height: 24px;
}

/* 고정박스 */
.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* 네비게이션 박스 */
nav a:hover {
    font-weight: bold;
    background: white;
}

nav .selected {
    font-weight: bold;
    font-size: calc(0.9rem + 0.2vw + 0.2vh);
}

#main-nav-box{
    height: 50px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}



#category-open {
    padding-left: 4px;
    max-width: 50px;
    max-height: 30px;    
}

#nav_list_box {
    font-size: calc(0.7rem + 0.2vw + 0.2vh);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    flex-wrap: nowrap;
    overflow: hidden;
}

#nav_list_box > li {
    flex: 1 0 14%;
    display: inline-block;
    margin: 5px; 
    padding: 4px;
    text-align: center; 
}
/* 너비 좁아지면 카테고리 사이드로 빼자 세로로 */

#nav_list_box>li>a {
    padding: 8px;
    color: black;
    border-radius: 6px;
    white-space: nowrap;
}

#category-box-show {
    display : "block";
    opacity : 1;
    transition : "0.5s";
}

#category-box-expand{
    position: absolute;
    max-width: 1280px;
    width: 100%;
    margin: 0;
    transition: all 0.5s;
    transition-timing-function: ease-out;    
}

#category-box-expand-active{
    position: relative;
    /* transition: all 1s ease-out; */
}

#subcategory-box {
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 10px solid rgba(0, 0, 0, 0.281);
}

#subcategory-box > li {
    flex: 0 0 auto;
    color: black;
    padding: 6px;
    min-width: 16%;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

#subcategory-box li a {
    padding: 8px;
    color: black;
    border-radius: 6px;
}

.category-expand-each-box{
    padding: 6px;
    font-size: 1rem;
}

.category-expand-each-box > li{
    padding: 6px;
}


@media screen and (max-width:640px) {    

    #category-open{
        display: none;
    }

    #nav_list_box {
        width: 96%;
        overflow: scroll;     
    }

    #site-search-form>input {    
        width: 80%;
    }

    
}