nav {
    max-width: 1280px;
    margin: 0 auto;
    z-index: 3;
    /* display: flex;
    padding: 10px;
    align-items: center;
    background: lightblue; */
    /* border-radius: 12px;     */  
    /* transition: all 1s; */
}

a:hover {
}

/* 검색 박스 */
#nav-search-box{
    /* background-color: rgba(232, 234, 224, 0.363);     */
    background-color: #E5E1DA;
}

#site-search-form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px
}

#site-search-form>input {    
    margin-right: 10px;
    padding: 12px;
    border-radius: 12px;
    width: 36%;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px solid lightgray;
}

#site-search-form>button {
    padding: 8px;
    border-radius: 6px; 
    min-width: 6%;       
}

#site-search-form>button>img {
    height: 24px;
}

/* 고정박스 */
.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* 네비게이션 박스 */
nav a:hover {
    font-weight: bold;
    background: white;
}

nav .selected {
    font-weight: bold;
    font-size: 1.2rem;
    
}

#main-nav-box{
    height: 60px;
    display: flex;
    padding: 10px;
    align-items: center;
}

#category-open {
    max-width: 50px;
    max-height: 40px;    
}

#nav_list_box {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#nav_list_box > li {
    display: inline-block;
    margin: 5px;
    min-width: 30px;
    text-align: center;    
}
/* 너비 좁아지면 카테고리 사이드로 빼자 세로로 */

#nav_list_box li a {
    padding: 12px;
    color: black;
    border-radius: 6px;
}

#category-box-show {
    display : "block";
    opacity : 1;
    transition : "0.5s";
}

#category-box-expand{
    position: absolute;
    width: 1280px;
    margin: 0;
    transition: all 0.4s;    
}

#category-box-expand-active{
    position: relative;
    /* transition: all 1s ease-out; */
}

#subcategory-box {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 20px double gray ;
}

#subcategory-box > li {
    color: black;
    padding: 6px;
    min-width: 16%;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

#subcategory-box li a {
    padding: 8px;
    color: black;
    border-radius: 6px;
}

.category-expand-each-box{
    padding: 6px;
    font-size: 1rem;
}

.category-expand-each-box > li{
    padding: 6px;
}