a:hover {
    font-weight: bold;
}

.site-map-text{
    margin: 10px;
    padding: 10px;
}

/* 공지사항 리스트용 */
#notice_list {
    margin: 2% 0;
    width: 100%;    
    border-collapse: collapse;
    border-top: 2px solid black;
}

.notice_card{
    border-bottom: 1px solid black;
    margin: 10px;
    padding: 6px;
    font-size: 1.5rem;
    
}

.notice_card:hover{
    background-color: rgba(206, 205, 205, 0.3);
}

.notice_card >th {
    padding: 10px;
}

.notice_card >td {
    padding: 10px 20px;
}

.notice_card a {
    color: black;
}

/* 공지사항 세부 내용 */
#notice_detail {
    width: 100%;
    border-collapse: collapse;
}


.notice_detail_row{
    border: 1px dotted black;
    margin: 10px;
    padding: 6px;
    
}

.notice_detail_row:nth-child(1){
    
}

.notice_detail_row >th{
    padding: 20px;
    font-size: 1.5rem;
}

.notice_detail_row > th:nth-child(1) {
    width: 70%;
}
.notice_detail_row > th:nth-child(2) {
    width: 20%;
    font-weight: normal;
    border-left: 2px solid black;
}
.notice_detail_row > th:nth-child(3) {
    width: 10%;
    font-weight: normal;
    border-left: 2px solid black;
}

.notice_detail_row > td {
    padding: 30px;
    font-size: 1rem;
}


#tolist_box{
    display: flex;
    justify-content: right;
}

#tolist_btn{
    margin: 20px;
    padding: 6px;
    width: 12%;
    text-align: center;
    font-size: 1.2rem;
    color: black;

}